# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local questions PDF (written by dev/preview server)
questions pdf/questions.pdf
questions pdf/assessment.json
questions pdf/attempts.jsonl
questions pdf/meta.json

.node_modules

